<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard Sidebar Menu | Dark/Light Mode</title>

    <!-- Tambahkan class "dark" pada body jika dark mode aktif -->
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
            document.body.classList.add('dark');
        }
    </script>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='assets/img/FPMIPAUPI.png')}}" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">Jadwal</span>
                    <span class="profession">FPMIPA UPI</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="add">
                            <i class='bx bx-folder-plus icon'></i>
                            <span class="text nav-text">Add Data</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li>
                        <a href="#">
                            <i class="bx bx-log-out icon"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class="bx bx-moon icon moon"></i>
                            <i class="bx bx-sun icon sun"></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>

                        <div class="toggle-switch" onclick="toggleDarkMode()">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home">
        <i c class='bx bx-folder-plus icon'></i>
        <span class="text">Add Data</span>
    </section>

    <!-- Elemen Pemisah -->
    <div class="separator"></div>

    <!-- Tambahkan tag article di bawah pemisah -->
    <article class="article-container">
        <h2>Tambah Data</h2>
        <form id="addDataForm">
            <label for="gedung">Gedung:</label>
            <select id="gedung" name="gedung">
                {% for kgedung in Gedung_Data %}
                    <option value="{{ kgedung[0] }}">{{ kgedung[0] }}</option>
                {% endfor %}
            </select>
    
            <label for="mataKuliah">Mata Kuliah:</label>
            <input type="text" id="mataKuliah" name="mataKuliah" required>
    
            <label for="ruangan">Ruangan:</label>
            <select id="ruangan" name="ruangan">
                <!-- Opsi dropdown untuk ruangan -->
                {% for jadwal in Ruangan %}
                    <option value="{{ jadwal[1] }}">{{ jadwal[1] }}</option>
                {% endfor %}
                <!-- Tambahkan opsi sesuai kebutuhan -->
            </select>
    
            <label for="hari">Hari:</label>
            <select id="hari" name="hari">
                <!-- Opsi dropdown untuk hari -->
                {% for hari in Hari %}
                    <option value="{{ hari[1] }}">{{ hari[1] }}</option>
                {% endfor %}
                <!-- Tambahkan opsi sesuai kebutuhan -->
            </select>
    
            <label for="jam">Jam :</label>
            <select id="jam" name="jam">
                <!-- Opsi dropdown untuk jam mulai -->
                {% for waktu in Waktu %}
                    <option value="{{ waktu[1] }}">{{ waktu[1] }}</option>
                {% endfor %}
                <!-- Tambahkan opsi sesuai kebutuhan -->
            </select>
    
            <button type="clear">clear</button>
            <button type="submit">Tambahkan Data</button>
        </form>
    </article>
    
    <!-- Pindahkan script ke bagian bawah -->
    <script src="{{url_for('static', filename='all.js')}}"></script>
</body>
</html>
