<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard Sidebar Menu | Dark/Light Mode</title>

    <!-- Tambahkan class "dark" pada body jika dark mode aktif -->
    <script>
        if (localStorage.getItem('dark-mode') === 'enabled') {
            document.body.classList.add('dark');
        }
    </script>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='assets/img/FPMIPAUPI.png')}}" alt="">
                </span>
                <div class="text header-text">
                    <span class="name">Jadwal</span>
                    <span class="profession">FPMIPA UPI</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/add">
                            <i class='bx bx-folder-plus icon'></i>
                            <span class="text nav-text">Add Data</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/dashboard">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li>
                        <a href="#">
                            <i class="bx bx-log-out icon"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class="bx bx-moon icon moon"></i>
                            <i class="bx bx-sun icon sun"></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>

                        <div class="toggle-switch" onclick="toggleDarkMode()">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home">
        <i c class='bx bx-bar-chart-alt-2 icon'></i>
        <span class="text">Dashboard</span>
    </section>

    <!-- Elemen Pemisah -->
    <div class="separator"></div>

    <!-- Menu Fitur  -->
    <div class="ruang-kelas">
        <h1>Ruang Kelas</h1>
        <p><a href="/Ruangan" class="more-info" data-page="/ruang-kelas">More Info →</a></p>
    </div>

    <div class="kapasitas-ruangan">
        <h1>Kapasitas Ruangan</h1>
        <p><a href="#" class="more-info" data-page="/kapasitas-ruangan">More Info →</a></p>
    </div>
    
    <div class="sks-dosen">
        <h1>SKS Dosen</h1>
        <p><a href="#" class="more-info" data-page="/sks-dosen">More Info →</a></p>
    </div>
    
    <div class="jadwal-dosen">
        <h1>Jadwal Dosen</h1>
        <p><a href="#" class="more-info" data-page="/jadwal-dosen">More Info →</a></p>
    </div>

    </div>
    <!-- Tambahkan tag article di bawah pemisah -->

    <!-- script -->
    <script src="{{url_for('static', filename='all.js')}}"></script>
</body>

</html>